<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload a ZIP file</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".zip">
            <input type="submit" value="Upload">
        </form>

        <div id="progress-container" class="progress" style="display: none;">
            <div id="progress-bar" class="progress-bar"></div>
        </div>

        <div class="footer">
            <p>Powered by Your Company</p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('progress', function(data) {
            var progressBar = document.getElementById('progress-bar');
            var progressContainer = document.getElementById('progress-container');
            var progress = data.progress;
            
            console.log('Received progress:', progress);  // Debugging print

            progressBar.style.width = progress + '%';
            progressBar.textContent = Math.round(progress) + '%';

            if (progress >= 100) {
                progressContainer.style.display = 'none';
            } else {
                progressContainer.style.display = 'block';
            }
        });

        document.querySelector('form').addEventListener('submit', function() {
            document.getElementById('progress-container').style.display = 'block';
        });
    </script>
</body>
</html>
